:root{
    margin: 0;
    font-family: Sans-Serif;
}

@media (prefers-color-scheme:dark){
    :root {
        background: black;
        color: #fff;
    }
}

* {
    margin-top: 1em;
    margin-bottom: 1em;
}

body > * {
    width: min(calc(100vw - 2em), 150vh);
    margin-left: auto;
    margin-right: auto;
}

body, input:is([type="checkbox"], [type="radio"]), legend {
    margin: 0;
}

input:not([type="checkbox"], [type="radio"], [type="reset"], [type="submit"], [type="button"]), select, label {
    display: block;
}

img, video, table, figure {
    width: min(100%, 25rem);
    margin-left: auto;
    margin-right: auto;
    display: block;
}

:is(p, span, h1, h2, h3, h4, h5, h6) img {
    margin: 0;
    height: 1.5em;
    width: auto;
    display: inline;
    vertical-align: middle;
}

th, td {
    padding: 0.5em 1em;
}

header, footer {
    margin: 0 auto;
    padding: 0.1em 2em;
    background: #8883;
    box-sizing: border-box;
    width: min(100vw, calc(150vh + 2em));
}

nav > :not(:first-child) {
    margin-left: 1em;
}

a {
    text-decoration: none;
}

a:active {
    text-decoration: underline;
}

a:has(h1, h2, h3, h4, h5, h6) {
    color: unset;
}
